<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>

     <nav class="shadow-lg">
        <div class="flex flex-wrap justify-between ml-5 items-center mx-auto px-4 py-2.5">
            <a href="" class="flex items-center">
                <img class="h-9 mr-3" src="https://cdn1.iconfinder.com/data/icons/shopping-e-commerce-10/33/cart_2-2-256.png" alt="">
                <span class="text-xml self-center font-semibold">Digital Marketplace</span>
            </a>

             <div class="flex items-center">
                <a href="{% url 'dashboard' %}" class="mr-6 text-sm text-xml font-semibold text-grey-500">Dashboard</a>
                <a href="{% url 'sales' %}" class="mr-6 text-sm text-xml font-semibold text-grey-500">Sales</a>
                <a href="" class="mr-6 text-sm text-xml font-semibold text-grey-500">Orders</a>
                <a href="{% url 'createproduct' %}" class="mr-6 text-sm text-xml font-semibold text-grey-500">Create Products</a>
                <a href="{% url 'purchases' %}" class="mr-6 text-sm text-xml font-semibold text-grey-500">My purchases</a>
                <a href="{% url 'logout' %}" class="mr-6 text-sm text-xml font-semibold text-grey-500">Logout</a>
             </div>
        </div>
     </nav>




    {% block body %}
    {% endblock %}
</body>
</html>