{% extends 'myapp/base.html' %}

{% block body %}

    <div class="flex p-10">
        <div class="max-w-xs">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/1200px-No-Image-Placeholder.svg.png" alt="">
        </div>

        <div class="pl-10">
                <div class="text-4xl mb-4">{{product.name}}</div>
                <div class="mb-4">{{product.description}}</div>
                <div class="mb-4 text-green-700 font-bold"> ₹{{product.price}}</div>
                <button onclick="window.location.href='http://127.0.0.1:8000/checkout/{{product.id}}';" id="checkout-button" class="bg-green-500 text-white px-4 py-2 rounded-sm">Buy</button>
        </div>
    </div>

{% endblock %}